<title>Open Flame, an LGTBQ+ comedy happening</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta property="og:title" content="{{htmlWebpackPlugin.options.data.share-title}}">
<meta property="og:description" content="{{htmlWebpackPlugin.options.data.share-description}}">
<meta property="og:image" content="{{htmlWebpackPlugin.options.data.share-image}}">
<meta property="og:url" content="https://tylerpaige.github.io/open-flame/index.htmL">

<meta name="twitter:title" content="{{htmlWebpackPlugin.options.data.share-title}}">
<meta name="twitter:description" content="{{htmlWebpackPlugin.options.data.share-description}}">
<meta name="twitter:image" content="{{htmlWebpackPlugin.options.data.share-image}}">
<meta name="twitter:card" content="summary_large_image">